<section class="card">
    <h5 class="card-header text-center bg-primary text-white">
        Lưu ý
    </h5>
    <div class="card-body">
        <div class="card-text">
            <div class="d-flex flex-column">
                <h1>Cách Tìm Gia Sư Tốt Cho Con</h1>

                <h4><strong>Kính Gửi Quý Phụ Huynh</strong></h4>

                <h5>Làm thế nào để con mình học tập hiệu quả, đạt kết quả cao ? Cho con
                    học gia sư sao
                    cho hiệu quả ? Làm thế nào để <strong>tìm gia sư tại nhà giỏi </strong>? Đó luôn luôn
                    là những
                    trăn trở, lo lắng của các bậc phụ huynh về tình hình học tập của con em mình. Công việc bận rộn,
                    chương
                    trình giáo dục đổi mới khiến các bậc phụ huynh gặp không ít khó khăn trong việc kèm cặp con
                    cái.</h5>


                <h3 class="text-center text-primary"><strong>Nhiều phụ huynh đang gặp những vấn
                        đề
                        sau</strong></h3>


                <ul>
                    <li>Mong muốn con mình học giỏi, nhưng sự bận rộn của công việc khiến cho sự quan tâm đến học tập
                        của con cái
                        gặp nhiều khó khăn.</li>
                    <li>Thấy con mình chểnh mảng học tập, có dấu hiệu học hành sa sút</li>
                    <li>Cháu bị hổng kiến thức,mất căn bản, lười học , không có cảm hứng và động lực học tập</li>
                    <li>Nhận xét của Thầy cô về lực học của cháu đang giảm sút rõ rệt mà các kì thi sắp đến gần.</li>
                    <li>Muốn con mình bồi dưỡng nâng cao kiến thức để thi vào các trường chuyên, trường đại học danh
                        tiếng mà mình
                        mong muốn.</li>
                    <li>Chính quý phụ huynh cũng muốn nâng cao kiến thức môn ngoại ngữ, tin học để lấy các chứng chỉ
                        quốc tế hoặc
                        phục vụ tốt nhất cho công việc của mình.</li>
                </ul>


                <h3 class="text-center text-primary"><strong>Hoặc là</strong></h3>

                <p>Đang cần một giáo viên, sinh viên có chuyên môn giỏi, kinh nghiệm truyền đạt giảng dạy dễ hiểu nhưng
                    không biết
                    tìm ở đâu</p>


                <h3 class="text-center text-danger"><strong>Chúc mừng quý phụ huynh đã chọn
                        đúng địa
                        chỉ</strong></h3>


                <h3><strong>Lĩnh vực dạy kèm</strong></h3>

                <ul>
                    <li>Dạy kèm tại nhà các môn Toán,Tiếng Việt, Anh văn, Báo bài.... cho các bé tiểu học.</li>
                    <li>Dạy kèm Toán, Lý, Hóa, Sinh, Anh Văn, Văn Học, Sử, Địa, Tin học..... cấp II, cấp III</li>
                    <li>Anh văn căn bản - Giao tiếp - TOEIC...</li>
                    <li>Dạy kèm Tin Học từ căn bản đến nâng cao.</li>
                    <li>Dạy kèm Tiếng Việt cho người nước ngoài</li>
                    <li>Các môn năng khiếu Organ, Piano, Guitar, Vẽ...</li>
                </ul>




                <p class="text-center"><strong>Cam Kết <span class="text-warning">Vàng </span>Từ Trung
                        Tâm</strong></p>


                <h3><strong>Dạy thử một tuần miễn phí</strong> giúp quý phụ huynh,
                    học sinh có
                    điều kiện làm quen và kiểm tra khả năng, chuyên môn và kĩ năng truyền đạt của các thầy cô. Nếu
                    sau một tuần
                    dạy thử mà gia sư không đáp ứng được yêu cầu của học sinh và phụ huynh, gia đình có thể yêu cầu
                    Trung Tâm
                    đổi gia sư khác mà không mất phí một tuần dạy thử đó.</h3>


                <h3><strong>Sắp xếp gia sư trong vòng 24h</strong>, với hệ thống 19000 gia
                    sư được
                    quản lý bằng phần mềm chuyên nghiệp, trung tâm sẽ đáp ứng nhu cầu gia sư của quý phụ huynh tại
                    tất cả các
                    quận TPHCM chậm nhất là 24h.</h3>


                <h3><strong>Cam kết rõ ràng về chất lượng</strong>, lý lịch gia sư , quyền
                    lợi của gia
                    đình và học sinh... Đội ngũ gia sư có lý lịch rõ ràng , xuất trình thẻ sinh viên, bằng , bảng
                    điểm ,chứng
                    minh nhân dân và giấy giới thiệu của trung tâm khi đi dạy</h3>


                <p><strong>Gia sư sinh viên: </strong>Hiện đang theo học hoặc đã tốt
                    nghiệp các
                    trường cao đẳng, đại học, cao học trên địa bàn TP. HCM. Gia sư ĐH Sư Phạm, Bách Khoa, Ngoại
                    Thương, Y Dược,
                    Kinh Tế... nhiệt tình, tác phong nghiêm túc, có kinh nghiệm, phương pháp sư phạm tốt.</p>


                <p>►<strong>Gia sư giáo viên : </strong>Giáo viên/giảng viên giỏi
                    hiện đang đứng
                    lớp ở các trường cấp I, II, III, cao đẳng đại học, các trung tâm. Chuyên môn cao, dạy giỏi, có
                    trình độ sư
                    phạm tốt, tận tâm.</p>


                <p>►Đội ngũ quản lý của trung tâm sẽ kiểm tra đầu vào chặt chẽ về chuyên
                    môn , đạo đức
                    , nghiệp vụ sư phạm ..của gia sư nếu đạt yêu cầu mới tin tưởng giới thiệu.</p>
            </div>
        </div>
</section>