<section class="card">
    <h5 class="card-header text-center bg-warning">
        Mẫu hợp đồng tuyển dụng
    </h5>
    <div class="card-body">
        <div class="card-text">
            <div class="d-flex flex-column ">
                <div class="bg-info rounded border border-primary">
                    <div class="p-2">Nếu đây là lần <strong>đầu tiên</strong> bạn nhận lớp dạy tại trung tâm,
                        hay bạn <strong>chưa</strong> từng có kinh nghiệm đi dạy gia sư thì phải
                        <strong class="text-danger">
                            đọc kỹ</strong>
                        <strong>hợp đồng gia sư</strong> Và xem
                        các video hướng dẫn, trước khi nhận lớp dạy để <strong>tránh</strong> những sự cố đáng tiếc xảy
                        ra sau này. Trong quá trình đọc hợp đồng và xem Video nếu có gì thắc mắc cần hỗ trợ các bạn liên
                        hệ: 0332.934.016
                        </h2>
                    </div>
                </div>
                <div class="p-2 mx-5 position-relative">
                    <iframe src="/document/guide.pdf#toolbar=0" class="w-100" height="1135" frameborder="0">
                    </iframe>
                    <a class="position-absolute p-2 text-white rounded"
                        style="right: 2rem;top: 1.5rem; background:#0000009c; padding-left:0.75rem"
                        href="/document/guide.pdf" target="_blank" title="Hiện cửa sổ nhỏ mới">
                        <i class="fa-solid fa-share-from-square fs-3"></i>
                    </a>
                </div>

            </div>
        </div>
</section>