<section class="card">
    <h5 class="card-header text-center bg-primary text-white">
        Dịch vụ gia sư
    </h5>
    <div class="card-body">
        <div class="card-text">
            <div class="d-flex flex-column">
                <h1 class="text-center">Dịch Vụ Gia Sư Dạy Kèm Tại Nhà Đất Việt Cung Cấp</h1>
                <ul style="list-style-type: '➣ ';">
                    <li>Gia sư dạy cấp I các môn : Toán, Tiếng Việt, Anh Văn, Dạy Theo Sổ Báo Bài, Tập Đọc, Tập
                        Viết, Rèn chữ đẹp…</li>
                    <li>Gia sư dạy cấp II, III các môn : Toán, Lý, Hoá, Anh Văn, Ngữ Văn, Sinh, Sử, Địa, Tin học, Báo
                        Bài …</li>
                    <li>&nbsp;Gia sư chuyên : Luyện thi lên lớp 6, Luyện thi lên lớp 10, Luyện thi vào Trường chuyên -
                        Lớp chọn, Luyện thi Đại Học – Ôn Thi tốt nghiệp</li>
                    <li>Gia sư dạy kèm : Anh văn căn bản – Giao tiếp – TOEIC – TOEFL – IELTS</li>
                    <li>&nbsp;Gia sư : dạy kèm tin học cơ bản, tin học văn phòng Word, Excel, PowerPoint....</li>
                    <li>Gia sư dạy ngoại ngữ : Tiếng Anh, Tiếng Nhật, Tiếng Trung, Tiếng Hàn, Tiếng Pháp, Dạy kèm tiếng
                        việt cho người nước ngoài</li>
                    <li>Gia sư các môn năng khiếu : Đàn Organ, Piano, Guitar, Vẽ....</li>
                </ul>
                <h2 class="text-danger text-uppercase text-center">PHƯƠNG CHÂM DẠY KÈM</h2>
                <ul style="list-style-type: '➭ ';">
                    <li>Ôn tập lại những kiến thức đã học ở trường</li>
                    <li>Dạy sát chương trình, dạy sâu kiến thức, dạy kỹ chuyên môn</li>
                    <li>Lấy lại căn bản cho học sinh mất gốc.</li>
                    <li>Mở rộng kiến thức, dạy nâng cao cho học sinh khá, giỏi.</li>
                    <li>Thường xuyên báo cáo kết quả học tập đến quý phụ huynh</li>
                </ul>
            </div>
        </div>
</section>