<button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubjectSite"
    aria-expanded="false" aria-controls="collapseSubjectSite">
    GIA SƯ CÁC MÔN
</button>
<div class="collapse show" id="collapseSubjectSite">
    <ul class="list-group" id="subjectList">
    </ul>
</div>
<button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewsSite"
    aria-expanded="false" aria-controls="collapseNewsSite">
    TIN TỨC
</button>
<div class="collapse show" id="collapseNewsSite">
    <ul class="list-group" id="postList">
    </ul>
</div>
<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBenifitSite"
    aria-expanded="false" aria-controls="collapseBenifitSite">
    GIA SƯ ƯU TÚ
</button>
<div class="collapse show" id="collapseBenifitSite">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-center">
            <div id="carouselBenifitInterval" class="carousel slide w-75" data-bs-ride="carousel">
                <div class="carousel-inner" id="listAvartarTutor">
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBenifitInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselBenifitInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </li>
    </ul>
</div>
<button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCustomerServiceSite"
    aria-expanded="false" aria-controls="collapseCustomerServiceSite">
    HỖ TRỢ KHÁCH HÀNG
</button>
<div class="collapse show" id="collapseCustomerServiceSite">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-center">
            <button class="btn btn-danger d-flex text-start align-items-center">
                <i class="fa-solid fa-phone text-white large-icon"></i>
                <a href="tel:+843993819666">
                    <div class="d-flex flex-column text-white">
                        <div>HOTLINE:</div>
                        <div>0399 3819 666</div>
                    </div>
                </a>

            </button>
        </li>
    </ul>
</div>