<button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParentSite"
    aria-expanded="false" aria-controls="collapseParentSite">
    PHỤ HUYNH
</button>
<div class="collapse show" id="collapseParentSite">
    <ul class="list-group">
        <li class="list-group-item"><a href="/form/course-register">Đăng ký tìm gia sư</a></li>
        <li class="list-group-item"><a href="/tuition-fee-reference">Học phí tham khảo</a></li>
        <li class="list-group-item"><a href="/service-reference">Dịch vụ tham khảo</a></li>
        <li class="list-group-item"><a href="/choose-tutor">Gia sư tiêu biểu</a></li>
        <li class="list-group-item"><a href="/careful">Lưu ý</a></li>
    </ul>
</div>
<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTutorSite"
    aria-expanded="false" aria-controls="collapseTutorSite">
    GIA SƯ
</button>
<div class="collapse show" id="collapseTutorSite">
    <ul class="list-group">
        <li class="list-group-item"><a href="/form/register-tutor">Thông tin tuyển dụng</a></li>
        <li class="list-group-item"><a href="/needs-tutor">Khoá học cần gia sư</a></li>
        <li class="list-group-item"><a href="/contract-form">Mẫu hợp đồng tuyển dụng</a></li>
        <li class="list-group-item">Hướng dẫn</li>
    </ul>
</div>
<button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSuportSite"
    aria-expanded="false" aria-controls="collapseSuportSite">
    HỖ TRỢ
</button>
<div class="collapse show" id="collapseSuportSite">
    <ul class="list-group">
        <li class="list-group-item">
            Số điện thoại liên hệ:
            <br>
            <strong>
                - Dành cho Phụ huynh
            </strong>
            <br>
            <a href="tel:+84332934018">
                <strong class="text-danger ps-3">
                    033 293 4018
                </strong>
            </a>
            <br>
            <strong>
                - Dành cho Gia Sư
            </strong>
            <br>
            <a href="tel:+84332934011">
                <strong class="text-danger ps-3">
                    033 293 4011
                </strong>
            </a>
        </li>
        <li class="list-group-item">
            Đánh giá tổng thể:
            <br>
            <span class="text-warning">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </span>
        </li>
        <a href="/my-report"><li class="list-group-item">Đánh giá hằng ngày</li></a>
        <li class="list-group-item">Phản hổi ý kiến</li>
    </ul>
</div>
<button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSocialMediaSite"
    aria-expanded="false" aria-controls="collapseSocialMediaSite">
    MẠNG XÃ HỘI
</button>
<div class="collapse show" id="collapseSocialMediaSite">
    <ul class="list-group">
        <li class="list-group-item">
            <i class="fa-brands fa-facebook"></i>
            Facebook:
            <span role="button" class="text-primary">
                tại đây
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-brands fa-youtube"></i>
            Youtube:
            <span role="button" class="text-primary">
                tại đây
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-brands fa-tiktok"></i>
            Tiktok:
            <span role="button" class="text-primary">
                tại đây
            </span>
        </li>
        <li class="list-group-item">
            <i class="fa-brands fa-instagram"></i>
            Instagram:
            <span role="button" class="text-primary">
                tại đây
            </span>
        </li>
    </ul>
</div>