<div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/tutor-word-cloud-concept-W7HEA7.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="/images/img158.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="/images/iStock-976329678-e1564768350796-1280x720.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="/images/tutoring_main.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="/images/tutors-mathnasium-classroom.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="/images/3people.jpg" class="d-block w-100">
        </div>
    </div>
</div>