<div class="modal fade" id="changePasswordDialog" tabindex="-1" aria-labelledby="changePasswordDialogLabbel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form action="/user/change-password" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordDialogLabbel">Thay đổi mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="text" hidden name="returnUrl" id="returnUrlOfDialogChangePsw" required>
                    <div class="mb-3">
                        <label for="currentPws">Mật khẩu hiện tại <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="currentPws" name="currentPws" required
                            placeholder="Vui lòng nhập mật khẩu hiện tại">
                    </div>
                    <div class="mb-3">
                        <label for="newPws">Mật khẩu mới <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="newPws" name="newPws" required
                            placeholder="Vui lòng nhập mật khẩu mới">
                    </div>
                    <div class="mb-3">
                        <label for="reNewPws">Nhập lại mật khẩu mới <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="reNewPws" name="reNewPws" required
                            placeholder="Vui lòng xác nhận mật khẩu mới">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="updateInfoDialog" tabindex="-1" aria-labelledby="updateInfoDialogLabbel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form action="/user/update-information" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateInfoDialogLabbel">Cập nhật thông tin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="text" hidden name="returnUrl" id="returnUrlOfDialogUpdateInfo">
                    <div class="mb-3">
                        <label> Tên đăng nhập: </label>
                        <strong class="text-danger" id="usernameUptInfo"></strong>
                    </div>
                    <div class="mb-3">
                        <label for="nameUptInfo">Họ tên <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nameUptInfo" name="name"
                            placeholder="Vui lòng nhập họ tên email" required>
                    </div>
                    <div class="mb-3">
                        <label for="emailUptInfo">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="emailUptInfo" name="email"
                            placeholder="Vui lòng nhập email mới">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </form>
    </div>
</div>