<div class="d-flex">
    <div class="d-flex flex-column w-25">
        <div class="d-flex align-items-center">
            <i class="fa-solid fa-graduation-cap text-primary large-icon"></i>
            <div class="d-flex flex-column">
                <div class="text-primary fw-bold">
                    Văn phòng <%= typeof title !='undefined' ? title : 'default' %> Sóc Trăng
                </div>
                <div>
                    <b>Địa chỉ:</b> 375/2, Phạm Hùng, Khóm 3, Phường 8, Tp. Sóc Trăng
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center mt-3">
            <i class="fa-solid fa-graduation-cap text-primary large-icon"></i>
            <div class="d-flex flex-column">
                <div class="text-primary fw-bold">
                    Văn phòng <%= typeof title !='undefined' ? title : 'default' %> HCM
                </div>
                <div>
                    <b>Địa chỉ:</b> 672A28, Đường Phan Văn Trị, Phường 10, Quận Gò Vấp (Khu CityLand Park Hill)
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-grow-1">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="label-lists-group">Dành cho Phụ huynh</div>
            </li>
            <li class="list-group-item">Tìm gia sư</li>
            <li class="list-group-item">Học phí tham khảo</li>
            <li class="list-group-item">Dịch vụ tham khảo</li>
            <li class="list-group-item">Gia sư tiêu biểu</li>
            <li class="list-group-item">Lưu ý</li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="label-lists-group">Dành cho Gia sư</div>
            </li>
            <li class="list-group-item">Thông tin tuyển dụng</li>
            <li class="list-group-item">Lớp sắp mở</li>
            <li class="list-group-item">Mẫu hợp đồng tuyển dụng</li>
            <li class="list-group-item">Hướng dẫn</li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="label-lists-group">Đánh giá</div>
            </li>
            <li class="list-group-item">
                Đánh giá tổng thể:
                <br>
                <span class="text-warning">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </span>
            </li>
            <li class="list-group-item">Phản hổi ý kiến</li>
            <li class="list-group-item">Đánh giá giảng viên</li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="label-lists-group">Hỗ trợ khách hàng</div>
            </li>
            <li class="list-group-item ">
                <button class="btn btn-danger d-flex text-start align-items-center">
                    <i class="fa-solid fa-phone text-white large-icon"></i>
                    <a href="tel:+843993819666">
                        <div class="d-flex flex-column text-white">
                            <div>HOTLINE:</div>
                            <div>0399 3819 666</div>
                        </div>
                    </a>
                </button>
            </li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="label-lists-group">Kết nối với chúng tôi</div>
            </li>
            <li class="list-group-item">
                <i class="fa-brands fa-facebook"></i>
                Facebook:
                <span role="button" class="text-primary">
                    tại đây
                </span>
            </li>
            <li class="list-group-item">
                <i class="fa-brands fa-youtube"></i>
                Youtube:
                <span role="button" class="text-primary">
                    tại đây
                </span>
            </li>
            <li class="list-group-item">
                <i class="fa-brands fa-tiktok"></i>
                Tiktok:
                <span role="button" class="text-primary">
                    tại đây
                </span>
            </li>
            <li class="list-group-item">
                <i class="fa-brands fa-instagram"></i>
                Instagram:
                <span role="button" class="text-primary">
                    tại đây
                </span>
            </li>
        </ul>
    </div>
</div>
<%- include('./chatbot', {title : title } ) %>