<meta charset="UTF-8">
<title>
    <%= typeof title !='undefined' ? title : 'default' %>
</title>
<link rel="icon" href="/images/favicon.jpg" type="image/*" sizes="194x194">
<link rel="stylesheet" href="/admin-lte/css/adminlte.min.css">
<link rel="stylesheet" href="/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/datatables/css/jquery.dataTables.css">
<link rel="stylesheet" href="/chart.js/dist/Chart.min.css">
<script type="application/javascript" src="/js/client-head-javascript.js"></script>