.scheduleClassroom {
    height: 144px;
}

.admin-page {
    .form-check-input {
        width: 3em !important;
        height: 1.5em !important;
    }

    .form-check-input:focus {
        box-shadow: 0 0 0 0.25rem rgb(68 253 13 / 25%) !important;
        background-image: url('data:image/svg + xml,%3csvgxmlns="http://www.w3.org/2000/svg"viewBox="-4-488"%3e%3ccircler="3"fill="%2334b65d"/%3e%3c/svg%3e') !important;
        border-color: #34b65d !important;
    }
    .background-core {
        background-image: url("/images/background.png");
        filter: blur(8px);
    }
    .tab-management {
        cursor: pointer;
    }
    .tab-management:hover {
        transform: translate3D(-4px, -4px, -2px);
        box-shadow: 0 4px 0 4px grey;
    }
    .tab-management:active {
        transform: translate3D(-1px, -1px, -0px);
        box-shadow: 0 1px 0 1px grey;
    }
    .badge-menu {
        top: 0;
        left: 97%;
        z-index: 2;
    }
    .class-detail {
        table {
            tr {
                td:nth-child(1) {
                    font-weight: 500;
                }
            }
        }
    }
    .table-bordered > :not(caption) > * {
        border-width: 2px 2px !important;
    }
}
.dark-mode {
    .table {
        tr.odd td,
        tr th {
            color: white !important;
        }
        tr.even td {
            color: black !important;
        }
        tr.even:hover td {
            color: white !important;
        }
    }
    .text-dark .nav-link {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    }
    label {
        color: white !important;
    }
    .form-check-input:focus {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
    }
    .form-check-input:checked {
        background-color: #34b65d !important;
    }
    .dataTables_wrapper {
        .dataTables_paginate {
            .paginate_button {
                color: white !important;
                border: 1px solid #111 !important;
                background: linear-gradient(to bottom, #585858 0%, #111 100%) !important;
            }
            .paginate_button:hover {
                border: 1px solid #585858 !important;
                background: linear-gradient(to bottom, #111 0%, #585858 100%) !important;
            }

            .paginate_button.disabled {
                color: white !important;
                border: none !important;
                background: none !important;
            }

            .paginate_button.disabled:hover {
                color: white !important;
                border: none !important;
                background: none !important;
            }

            .paginate_button.current {
                color: #111 !important;
                border: 1px solid white !important;
                background: linear-gradient(to bottom, #585858 0%, white 100%) !important;
            }
            .paginate_button.current:hover {
                color: #111 !important;
                border: 1px solid white !important;
                background: linear-gradient(to bottom, white 0%, #585858 100%) !important;
            }
        }
    }
}
.fa-arrow-left.btn-back-to-home {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 2em;
    text-decoration: none;
}
.page-not-found {
    font-family: "PT Sans Caption", sans-serif, "arial", "Times New Roman";

    /* Error Page */
    .error .clip .shadow {
        height: 180px; /*Contrall*/
    }
    .error .clip:nth-of-type(2) .shadow {
        width: 130px; /*Contrall play with javascript*/
    }
    .error .clip:nth-of-type(1) .shadow,
    .error .clip:nth-of-type(3) .shadow {
        width: 250px; /*Contrall*/
    }
    .error .digit {
        width: 150px; /*Contrall*/
        height: 150px; /*Contrall*/
        line-height: 150px; /*Contrall*/
        font-size: 120px;
        font-weight: bold;
    }
    .error h2   /*Contrall*/ {
        font-size: 32px;
    }
    .error .msg /*Contrall*/ {
        top: -190px;
        left: 30%;
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 32px;
    }
    .error span.triangle    /*Contrall*/ {
        top: 70%;
        right: 0%;
        border-left: 20px solid #535353;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .error .container-error-404 {
        margin-top: 10%;
        position: relative;
        height: 250px;
        padding-top: 40px;
    }
    .error .container-error-404 .clip {
        display: inline-block;
        transform: skew(-45deg);
    }
    .error .clip .shadow {
        overflow: hidden;
    }
    .error .clip:nth-of-type(2) .shadow {
        overflow: hidden;
        position: relative;
        box-shadow: inset 20px 0px 20px -15px rgba(150, 150, 150, 0.8),
            20px 0px 20px -15px rgba(150, 150, 150, 0.8);
    }

    .error .clip:nth-of-type(3) .shadow:after,
    .error .clip:nth-of-type(1) .shadow:after {
        content: "";
        position: absolute;
        right: -8px;
        bottom: 0px;
        z-index: 9999;
        height: 100%;
        width: 10px;
        background: linear-gradient(90deg, transparent, rgba(173, 173, 173, 0.8), transparent);
        border-radius: 50%;
    }
    .error .clip:nth-of-type(3) .shadow:after {
        left: -8px;
    }
    .error .digit {
        position: relative;
        top: 8%;
        color: white;
        background: #07b3f9;
        border-radius: 50%;
        display: inline-block;
        transform: skew(45deg);
    }
    .error .clip:nth-of-type(2) .digit {
        left: -10%;
    }
    .error .clip:nth-of-type(1) .digit {
        right: -20%;
    }
    .error .clip:nth-of-type(3) .digit {
        left: -20%;
    }
    .error h2 {
        color: #a2a2a2;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .error .msg {
        position: relative;
        z-index: 9999;
        display: block;
        background: #535353;
        color: #a2a2a2;
        border-radius: 50%;
        font-style: italic;
    }
    .error .triangle {
        position: absolute;
        z-index: 999;
        transform: rotate(45deg);
        content: "";
        width: 0;
        height: 0;
    }

    /* Error Page */
    @media (max-width: 767px) {
        /* Error Page */
        .error {
            .clip .shadow {
                height: 100px; /*Contrall*/
            }
            .clip:nth-of-type(2) .shadow {
                width: 80px; /*Contrall play with javascript*/
            }
            .clip:nth-of-type(1) .shadow,
            .clip:nth-of-type(3) .shadow {
                width: 100px; /*Contrall*/
            }
            .digit {
                width: 80px; /*Contrall*/
                height: 80px; /*Contrall*/
                line-height: 80px; /*Contrall*/
                font-size: 52px;
            }
            h2   /*Contrall*/ {
                font-size: 24px;
            }
            .msg /*Contrall*/ {
                top: -110px;
                left: 15%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
            }
            span.triangle    /*Contrall*/ {
                top: 70%;
                right: -3%;
                border-left: 10px solid #535353;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
            }
            .container-error-404 {
                height: 150px;
            }
        }
        .overlay {
            position: relative;
            z-index: 20;
        } /*done*/
        .ground-color {
            background: white;
        } /*done*/
        .item-bg-color {
            background: #eaeaea;
        } /*done*/

        /* Padding Section*/
        .padding-top {
            padding-top: 10px;
        } /*done*/
        .padding-bottom {
            padding-bottom: 10px;
        } /*done*/
        .padding-vertical {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .padding-horizontal {
            padding-left: 10px;
            padding-right: 10px;
        }
        .padding-all {
            padding: 10px;
        } /*done*/

        .no-padding-left {
            padding-left: 0px;
        } /*done*/
        .no-padding-right {
            padding-right: 0px;
        } /*done*/
        .no-vertical-padding {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .no-horizontal-padding {
            padding-left: 0px;
            padding-right: 0px;
        }
        .no-padding {
            padding: 0px;
        } /*done*/
        /* Padding Section*/

        /* Margin section */
        .margin-top {
            margin-top: 10px;
        } /*done*/
        .margin-bottom {
            margin-bottom: 10px;
        } /*done*/
        .margin-right {
            margin-right: 10px;
        } /*done*/
        .margin-left {
            margin-left: 10px;
        } /*done*/
        .margin-horizontal {
            margin-left: 10px;
            margin-right: 10px;
        } /*done*/
        .margin-vertical {
            margin-top: 10px;
            margin-bottom: 10px;
        } /*done*/
        .margin-all {
            margin: 10px;
        } /*done*/
        .no-margin {
            margin: 0px;
        } /*done*/

        .no-vertical-margin {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .no-horizontal-margin {
            margin-left: 0px;
            margin-right: 0px;
        }

        .inside-col-shrink {
            margin: 0px 20px;
        } /*done - For the inside sections that has also Title section*/
        /* Margin section */

        hr {
            margin: 0px;
            padding: 0px;
            border-top: 1px dashed #999;
        }
        /* Error Page */
    }

    /*--------------------------------------------Framework --------------------------------*/
}
